  <!-- Audio Section -->
  <section class="media-section">
    <div class="section-header">
      <div class="section-title"><span></span><h2>Audio</h2><span></span></div>
      <!-- <button class="see-more-btn">See More</button> -->

          <a routerLink="/audiopage" routerLinkActive="active" class="Audio-btn">See More</a>
    </div>
    <div class="media-row">
      <div class="audio-card">
        <img src="https://picsum.photos/300/200?grayscale&random=10"
          alt="Person with headset">
        <audio controls src="sample.mp3"></audio>
        <div class="card-overlay">
          <h3>Relaxing Piano</h3>

        </div>
      </div>
      <div class="audio-card">
        <img src="https://picsum.photos/301/200?grayscale&random=11"
          alt="Person with headset">
        <audio controls src="sample.mp3"></audio>
        <div class="card-overlay">
          <h3>Motivational Speech</h3>

        </div>
      </div>
      <div class="audio-card">
        <img src="https://picsum.photos/302/200?grayscale&random=12"
          alt="Person with headset">
        <audio controls src="sample.mp3"></audio>
        <div class="card-overlay">
          <h3>Nature Sounds</h3>

        </div>
      </div>
      <div class="audio-card">
        <img src="https://picsum.photos/303/200?grayscale&random=13"
          alt="Person with headset">
        <audio controls src="sample.mp3"></audio>
        <div class="card-overlay">
          <h3>Top Hits</h3>

        </div>
      </div>
    </div>
  </section>
