<!-- Audio Section -->
<section class="media-section">
  <div class="section-header">
    <div class="section-title">
      <span></span>
      <h2>Audio</h2>
      <span></span>
    </div>
    <a routerLink="/audiopage" routerLinkActive="active" class="Audio-btn">Listen More</a>
  </div>

  <div class="media-row">
    <div class="audio-card" *ngFor="let audio of audios">
        <img [src]="audio.imageUrl" alt="Audio Image">
      <audio controls [src]="staticUrl + audio.audioUrl" preload="none"></audio>
      <div class="card-overlay">
        <h3>{{ audio.title }}</h3>
        <h3>Posted Date: {{ audio.date }}</h3>
      </div>
    </div>
  </div>
</section>
