  <!-- Gallery Section -->
<section class="media-section">
  <div class="section-header">
    <div class="section-title"><span></span><h2>Gallery</h2><span></span></div>
    <!-- <button class="see-more-btn">See More</button> -->

      <a routerLink="/gallarypage" routerLinkActive="active" class="gallary-btn">See More</a>
  </div>
  <div class="media-row">
    <div class="gallery-card">
      <img src="https://picsum.photos/300/200" alt="Gallery Image">
      <div class="card-overlay">
        <h3>Mountain View</h3>
        <p>Stunning peaks and beautiful skies.</p>
      </div>
    </div>

    <div class="gallery-card">
      <img src="https://picsum.photos/301/200" alt="Gallery Image">
      <div class="card-overlay">
        <h3>City Lights</h3>
        <p>The city that never sleeps at night.</p>
      </div>
    </div>

    <div class="gallery-card">
      <img src="https://picsum.photos/302/200" alt="Gallery Image">
      <div class="card-overlay">
        <h3>Forest Path</h3>
        <p>A serene walk among the trees.</p>
      </div>
    </div>

    <div class="gallery-card">
      <img src="https://picsum.photos/303/200" alt="Gallery Image">
      <div class="card-overlay">
        <h3>Ocean Waves</h3>
        <p>Relaxing views of the endless sea.</p>
      </div>
    </div>
  </div>
</section>
