<!-- About Us Section -->
<section class="media-section about-us">
  <div class="section-header">
    <div class="section-title"><span></span><h2>About Us</h2><span></span></div>
  </div>
  <div class="about-content">
    <p>
      Welcome to SuperCharity — your trusted platform for giving and impact. Our
      mission is to bring hope, support, and positive change by connecting
      people with charitable causes that truly matter. Whether you’re here to
      donate, volunteer, share, or learn, PixStream is built to be a place where
      compassion comes alive, communities are uplifted, and meaningful stories
      inspire action.
    </p>
    <!-- <button class="about-btn">Read More</button> -->

    <!-- <button class="about-btn"><a routerLink="/aboutus" routerLinkActive="active">About</a></button> -->
    <a routerLink="/aboutus" routerLinkActive="active" class="about-btn">Read
      More</a>

  </div>
</section>
