<!-- About Us Section -->
<section class="media-section about-us">
  <div class="section-header">
    <div class="section-title"><span></span><h2>About Us</h2><span></span></div>
  </div>
  <div class="about-content">
    <p>
      Welcome to PixStream — your one-stop platform for videos, audio, galleries,
      and articles. Our mission is to inspire, inform, and entertain by curating a wide range of
      multimedia content that connects people with creativity, knowledge, and meaningful stories.
      Whether you’re here to watch, listen, explore, or read, PixStream is built to be a place
      where content comes alive.
    </p>
    <!-- <button class="about-btn">Read More</button> -->

      <!-- <button class="about-btn"><a routerLink="/aboutus" routerLinkActive="active">About</a></button> -->
       <a routerLink="/aboutus" routerLinkActive="active" class="about-btn">Read More</a>

  </div>
</section>
