<app-header></app-header>

<section class="media-section">

  <!-- Search Bar -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search by title or category"
      aria-label="Search videos by title or category" />
  </div>







  <div *ngIf="currentPage === 1">
    <div class="section-header">
      <div class="section-title">

        <span></span>
        <h2>Recent Videos</h2>
        <span></span>
      </div>
    </div>

    <div class="media-row">
      <div class="video-card" *ngFor="let video of recentVideos">
        <div class="video-wrapper">
          <iframe [src]="video.src | safeUrl" frameborder="0" allowfullscreen
            loading="lazy"></iframe>
        </div>
        <div class="card-overlay">
          <h3>{{ video.title }}</h3>
          <p class="category">{{ video.category }}</p>
          <p>{{ video.description }}</p>
        </div>
      </div>
    </div>
    <hr class="section-divider" />
  </div>

  <!-- All Videos -->
  <div class="section-header">
    <div class="section-title">
      <span></span>
      <h2>🎥 Explore Videos</h2>
      <span></span>
    </div>
  </div>

  <div class="media-row">
    <div class="video-card" *ngFor="let video of paginatedVideos">
      <div class="video-wrapper">
        <iframe
          [src]="video.src | safeUrl"
          frameborder="0"
          allowfullscreen
          loading="lazy"></iframe>
      </div>

      <div class="card-overlay">
        <h3>{{ video.title }}</h3>
        <p class="category">{{ video.category }}</p>
        <p>{{ video.description }}</p>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      aria-label="Previous page"
      type="button">
      Prev
    </button>

    <button
      *ngFor="let page of visiblePages()"
      (click)="changePage(page)"
      [class.active]="currentPage === page"
      aria-label="Go to page {{ page }}"
      type="button">
      {{ page }}
    </button>

    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages()"
      aria-label="Next page"
      type="button">
      Next
    </button>
  </div>
</section>

<app-footercard></app-footercard>
